@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.contenedor-general{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top:50px;
    gap: 70px;
}

.css-1t6e9jv-MuiCardActions-root{
    justify-content:center;
}

.link-details{
    text-decoration: none;
}