@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imagenesCarousell {
    height: 92vh;
    background-position: center;
    background-size: cover;
}

.imagen1{
    @extend .imagenesCarousell; 
}

.imagen2{
    @extend .imagenesCarousell; 
}

.imagen3{
    @extend .imagenesCarousell; 
}

.carousel-tittle{
    color: #fff;
    font-size:4rem;
    position: relative;
    top: -34.2vh;
}

@media (max-width: 768px){
    .carousel-tittle{
        font-size:2.8rem;
    }
}